.post {
  display: grid;
  grid-template-areas: "blank header header header header header"
                          "footer content content content content content";
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 10px;


}

.post a {
  color: #f2f2f2;
}

.post header {
 display: grid;
 grid-area: header;

}


.post_content {
  display: grid;
  grid-area: content;
}

/* This element doubles as the post meta block. Links, metadata, etc */
.post footer {
  font-size: 0.75rem;
  grid-area: footer;
  margin-top: 1rem;
}
 main > article > footer:last-of-type .a11y{
  margin-top: 6rem;
}
.post_date {
  margin: 0;
}

.post_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post_categories li {
  display: inline;
}

.post_categories li:not(:last-child)::after {
  content: ',';
}

.post_categories li,
.post footer a {
  color: #fff18f;
  text-decoration: none;
}

.post_sharing {
  position: relative;
  padding-top: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.post_sharing p {
  margin: 0;

}

.post_sharing::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 1rem;
  height: 1px;
  background-color: #4d4d4d;
}
/* */
main > header:first-of-type{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  grid-column-gap: 1rem;

}
header h2{
  grid-column: 2 / 6;
}
