.works_item {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 0.4rem;



}

.works_item_header {
  color: #ccc;
}

.works_item_content {

}

.works_item_image_container {

}

.works_item_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -1rem;
display: flex;

}

.works_item_navigation a {
  display: block;
  color: #ccc;
  padding: 0.75rem;
  text-decoration: none;
}

.works_item_navigation a b,
.works_item_navigation a:hover {
  color: #fff18f;
}
