body{
  border: solid 1px grey;
  max-width: 700px;
  font-weight: bold;
  font-size: 14px;



}




 h1{

padding-left: 7px;

}

 section h2 {
  display: table-cell;
  table-layout: fixed;
  padding-left: 6rem;
  vertical-align: middle;
  padding-top: 2rem;



}
section p {
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
  padding-left: 1.5rem;
  padding-block-start: 3rem;
  border-spacing: 1px;


}


footer{
  padding-left: 7px;
}


