html {


}

body {

  border: 10px double gainsboro;
}


#cloud-1 {
     background-image: url('../images/cloud.svg');
     width:50px;
     height:40px;
     position: 90% 1%;
     background-repeat: no-repeat;

}

#cloud-2 {
  background-image: url('../images/cloud.svg');
  width: 50px ;
  height:45px;
  position:20% 20%;
  background-repeat: no-repeat;



}

#sun {
background-image: url('../images/sun.svg');
width: 80px;
height: 70px;
background-repeat: no-repeat;

}



#house-1 {
background-image: url('../images/house-1.svg');
width:80px;
height:80px;

}

#house-2 {
  background-image: url('../images/house-2.svg');
  width:56px;
  height:56px;

}



#tree {
  background-image: url('../images/tree.svg');
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;
  position: 70% 70%;


}


#palm {
  background-image: url('../images/palm-tree.svg');
  width: 90px;
  height: 80px;
  background-repeat: no-repeat;

}


#car {
  background-image: url('../images/car.svg');
  width:70px ;
  height:70px;

}
