

  section:last-of-type .example header {
    float: left;
    line-height: 36px;
    margin-bottom: 2rem;



  }

  section:last-of-type h3{
    margin: 0;
  }
  .form_toolbar{
    line-height: 36px;
    margin-left: 30rem;
    text-align: right;
  }
.form_row{
  margin: 1rem 0;
  clear: both;
}

.form_row label{
  float: left;
  line-height: 39px;
  width: 9rem;
  text-align: right;


}
.field{
  margin-left: 10rem;
}

button[value=save]{
  margin-inline-start: 10rem;

}
button[value=skip]{
  float: right;



}
