
.icon{
display: inline-block;
background-color: lavender;
padding: 1rem;
font-size: 1rem;
line-height: 1;
text-decoration: none;
font-weight: 700;
text-transform: uppercase;
position: relative;
padding-left: 3rem;
color: red;
}


.icon_left::before {
  background-image: url("../icon-facebook.png");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  display: block;
  content: "";
  margin-right: 1rem;
  top: 50%;
  left: 0.75rem;
  position: absolute;
  font-size: 1rem;
  margin-top: -0.75rem;






}

.icon_left{
  padding-left: 3rem;
}


[class~=icon_left] {
  font-size: 30px;


}

.icon_right::before {
background-image: url("../icon-facebook.png");
background-size: contain;
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
background-repeat: no-repeat;
display: block;
content: "";
margin-left: 1rem;
top: 50%;
right: 0.75rem;
position: absolute;
font-size: 1rem;
margin-top: -0.75rem;


}



[class~=icon_right] {
  font-size: 30px;
  padding-left: 1rem;

}



.icon_right{
  padding-right: 3rem;
}
