:root {
  --spoke-arc: 45deg;
  --spoke-width: 6px;
  --tyre-thickness: 10px;
  --wheel-diameter: 100;
  --wheel-radius: calc(var(--wheel-diameter) / 2);
  --wheel-px:calc(var(--wheel-diameter) * 1px);
  --rot-set : calc(var(--max-travel-distance) / var(--circo-set));
  --circo-set:calc(var(--pi-set) * var(--wheel-diameter));
  --pi-set:3.14;
  --max-scene-width: 1000;
  --max-travel-distance:var(--max-scene-width);
  --rot-deg: calc(var(--rot-set) * 360deg);
}

.scene {
  background-color: skyblue;
  border-bottom: 5px solid green;
  height: var(--wheel-px);
  position: relative;
  overflow: hidden;
  max-width: var(--max-scene-width);
}

/*
  When the user hovers over the scene,
  rotate the wheel and move it off canvas to the right.
*/
.scene:hover .wheel {
  left: 100%;
  transform: rotate(calc(var(--rot-set) * 360deg));
}

/* Wheel setup */
.wheel {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: var(--tyre-thickness) solid #555;
  box-sizing: border-box;
  height: var(--wheel-px);
  width: var(--wheel-px);
  position: relative;
  transition-duration :2s;
  transition-property: transform, left;
  transition-duration: 1s;
  transition-timing-function: ease-in;

}

.spoke {
  position: absolute;
  top: 0;
  left: 50%;
  margin-inline-start: calc(var(--spoke-width) / -2);
  bottom: 0;
  width: var(--spoke-width);
  background-color: #888;
}

.spoke:nth-of-type(2) { transform: rotate(45deg); }
.spoke:nth-of-type(3) { transform: rotate(90deg); }
.spoke:nth-of-type(4) { transform: rotate(135deg); }
