/* PSEUDO-ELEMENTS*/

/* The special property for pseudo element is content.

*/
/*


*/

/*
The fonction that we can use in content :
- url fonction
- linear-gradient fonction
- conter
- attr(value string)

*/


/*

The various pseudo-element in css:
  ::first-letter
  ::first-line
  ::selection
  ::after
  ::before
  ::placehold
  ::backdrop

*/

/*
We would want to use pseudo-element because it is useful to style a specific element.

*/

/* COUNTERS */
/* We use property value including a property counter short-hand and all counter long-hand .*/

/* We can reset a counter by giving a number of value or a keyword */

/*  Counters are useful for:
    -Numbering or alphabetise automatically a element
    -Returning developer defined string
    -Reseting a element
    -More flexible for changement

*/
/*
 Property only related to the list:
   -list-style
   -list-style-image: url()
   -list-style-position: (inside, outside)
   -list-style-type : Square, circle, disc, " emojy"
   -

*/

/* Any groupe of element can be styled look like a list by putting display-items property

*/
