/*footer{
text-align: center;
image-rendering: auto;
border: solid 1px;
border-width: 1px;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;


}

.circular--square {
border-radius: 10%;
font-size: 5px;
}
img{
  width: 1px;
  height: 1px;
  border-radius: 1px;
}

.facebook {
    display: inline-block;
    position: relative;
    width: 3px;
    height: 3px;
    overflow: hidden;
    border-radius: 50%;
  }

  .facebook {
    width: 30px;
    height: 10%;
    margin-left: 20px;


  }

  .twitter {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 50%;
  }

  .twitter {
    width: 30px;
    height: 10%;
    margin-left: 20px;
  }

  .github {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 50%;
  }

  .github {
    width: 30px;
    height: 10%;
    margin-left: 20px;
    margin-right: 40px;
  }
  */
  footer{
    text-align: center;
    padding-block-start: 7.5rem;
    scroll-padding-block-end: 7.5rem;
    border-bottom-style: solid grey;



  }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block: 2rem;
    margin-inline: 0;

  }

footer li {
  display: inline;
  margin: 0 0.5rem;
}

footer li:not(:first-child):not(:last-child){
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}


