html{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.25;
  border: solid 1px;

}


body > p{
  text-align: center;
}

body > header a{
  text-decoration: none;
  color: white;

}
body > header h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  margin-left: 25px;

}

.link > li{
text-align: right;
margin-left: 4px;
display: inline;
}

ul.link{
  text-align: right;
  margin-right: 15px;
  position: 90% 10%;
}
