/*Same:
   width
   height
   border-radius
   margin
   layout
   no-repeat
   50% 50%
   background-size: contain


*/

/*
this element is most likkely an anchor.
We use the 'href' of the anchor as the key to the source of the background image 'url()'

*/

.icon {
width: 79px;
height: 79px;
border-radius: 50%;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
display: inline-block;
text-indent: -9999px;

}

.icon[href^="https://twitter"] {
  background-image: url('../images/icon-twitter.png');
}

.icon[href^="https://facebook"] {
  background-image:url('../images/icon-facebook.png');

}



.icon[href^="https://github"] {
  background-image: url('../images/icon-github.png');
}


