main > header{
  background-image:
   url('../images/bg_desktop.jpg');
  color: white;
  text-align: center;
  padding-block-start: 18rem;
  padding-block-end: 18rem;
  background-position: center;
  box-sizing: content-box;
}

main > header h2{
  font-size: 5rem;
  margin:0
}

main > header p{
  margin: 0;
  font-size: 1rem;
}
