/* main > header{
  background-image: linear-gradient(0deg, rgba(0,0,0,.5)0, rgba(0,0,0,.5)100%),
   url('../images/bg_desktop.jpg');
  color: white;
  text-align: center;
  padding-block-start: 13rem;
  padding-block-end: 13rem;
  background-position: center;
  box-sizing: content-box;
  border: solid;
  background-size: 100% auto;
  background-repeat: no-repeat;

}

main > header h2{
  font-size: 5rem;
  margin:0
}

main > header p{
  margin: 0;
  font-size: 1rem;
}

*/
html{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.25;
  border: solid 1px;
  height: 70rem;

}
