
.must{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.human{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
 a[href*="jesse"]{
   text-decoration: none;
   color: black;
 }

 article{
   box-sizing: content-box;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50rem;
  height: 50rem;
}
