html{
  border: solid gray 1px;
}

 a[href*="jesse"]{
   text-decoration: none;
   color: black;
   font-size: 15px;

 }

 article{
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  height: 20rem;
  margin-top: 5rem;


}
article > nav p{
    text-decoration: none;
    color: black;
    font-size: 22px;



}
article > nav p:last-of-type {
border-top: gray 1px solid;

}


article > nav a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

small{
  font-size: 15px;
}

