
/*
 a[href*="jesse"]{
   text-decoration: none;
   color: black;
   font-size: 15px;

 }

 article{
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  height: 7rem;
  margin-top: 7rem;

}
article > nav p{
    text-decoration: none;
    color: black;
    font-size: 25px;

}

article > nav a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}

small{
  font-size: 15px;
}
*/
