/* Styles for all mediums go here */

@media all {

body {
size: 10pt;
font-family: Georgia, 'Times New Roman', Times, serif
}


}


/* Only styles for printers please */

@media print {

  a[href]::after {
    content: " [" attr(href)" ]";
    font-weight: normal;
    word-break: break-word;
  }

  abbr::after, acronym::after{
    content: " (" attr(title) ") ";

  }
  #header h1{
  font-size: 2rem;
  }

  img::after{
  display: block;
  width: 10pt;
  height: 10pt;
  }

  blockquote{
  page-break-inside: avoid;
  content: "("attr(cite)")";
  }
}

