/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.5rem;
}

p{
  font-size: 1.3rem;
}

ol > *{
  font-size: 1.2rem;
}



body {
  counter-reset: section;
  max-width: calc(2000px * 0.5);
}


h3::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}

h3 {
  counter-reset: h4;
}





h4::before {
  counter-increment: h4;
  content:"Section" counter(section)". " counter(h4)". " ;
}

ol {
counter-reset: letter;
list-style-type: none;

}

li::before{
content:"Section"  counter(section, none)". " counter(letter, lower-alpha)". " ;
counter-increment: letter;
}
body{
  font-size: 2rem;

}





li > ol {
  counter-reset: letter;
  list-style-type: none;
}
li> ol> li::before {
  counter-increment: letter;
  content: "Section " counter(letter, lower-roman) ". " ". " ;
}

/*



section > ol > li::before{
  counter-increment:content "major clause" content "clause" content "ol"  content "li";
  content: counter(h3)". ",
           counter(h4)". ",
           counter(ol)".",
           counter(li)". ";
}


*/
