body > header {
  color: #fff;
}

body > header h1 {
  margin: 0;
  font-size: 2rem;
}

body > header a {
  color: inherit;
  text-decoration: none;
}
/* */

main > header{
  text-align: center;
  margin-top: 7rem;
}

header > h1 a{
  margin: 1rem;
  flex-direction: row;

}

body > main {
  margin-top: -10rem;
}

