* {
/*
  Property name
  Property description
*/
  /* Property example with a value */
}

/* Property name : opacity
   Property description : Opacity property defines the transparency of an eelement and its value limited between 0 and 1 number. */

  /* Example */

  title {

    opacity: 0.6;

  }

  /* Property name : display
     Property description : Display property specify whether the element is block or inline */

     /* Example */

     Head {
       display: inline;
     }

     /* Property name : Visibility
       Property description : visibility property hide the rows or columns of a table and it has two fonction in that way , what is more it can hide element without changing layout. Possible value ( visible, hidden, collapse,an inherit ) */

       /* example */

       section {
         visibility: hidden;
       }

/*
  Questions
  =======================

  - What is the difference between `opacity` and a `background-color` that is semi-transparent?
  - What is the difference between `display: none;` and `visibility: hidden;`?
  - Why would we use `visibility: visible;`?

*/

/* The different between 'opacity' and a 'background-color' is 'opacity' has value limited 0-1 and it is already property which define transparancy whereas, background-color` that is semi-transparent property value. */

/* The different between 'display: none' and 'visibility: hidden' display-none'; with display: none an element behaves like it is completely deleted you can not see the structure in HTML,
However, visibility: hidden doesn’t remove an element completely. It just makes the element invisible */

/* We use visibility : visible because the element visibility has an element existe  */

