/* 1 = Select everything in the document, name=Universal selector*/
* {
  all: unset;
}


/* 2 = Select only table elements, name=Type selector*/
table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* 3 = Select any element with a class value of `police`, name=Class selector */
.police {
  color: blue;
  background-color: red;
}


/* 4 = Select any `h1` element that is a descendent of the `header` element, name=Child combinator */
header>h1 {
  font-size: 4rem;
  margin-bottom: 0;
}


/* 5 = Select only the `ul` elements that are children of the `nav` element, name=Child combinator */
nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* 6 = Select only the first child paragraph within a `section` element, name=Child combination*/
section>p:first-child {
  font-size: 1.5rem;
}


/* 7 = Select any heading element, name= Element selector*/
 .heading{
  font-weight: normal;
}


/* 8 = Select all anchors that are also links, name=ID selector */

a[href*=\/] {
  text-decoration: underline;
}


/* 9 = Select any anchor that is hovered over with the mouse, name=
Pseudo selector */
a:hover {
  text-decoration: none;
}


/* 10 = Select only the element with ID value equal to `captain`=ID selector, name =ID selector*/
#captain {
  border: 5px solid gold;
  border-radius: 5px;
}


/* 11 = Select all paragraph elements that have a class value of `hidden`, name=Class selector */

p.hidden {
  display: none;
}


/* 12 = Select all form elements that have a method attribute set to `POST`, name=Attribute selector */
[attribute=post] {
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}


/* 13 = Select any element that has a `required` attribute defined, name=Attribute selector*/
[required] {
  border-color: red;
}


/* 14 = Select any sibling paragraph elements that are preceeded by an `h3`, name=General sibling combinator */
h3 ~ p{
  color: #66F;
}


/* 15 = Select any sibling paragraph elements that directly follow an `h3`, name=Adjacent sibling combinator */
h3 + p {
  font-size: 1.5rem;
}


/* 16 = Select every cell within each odd table row,name =
pseudo class selector*/
tr:nth-child(odd) {
  background-color: rgba(0,0,0,.1);
}


/* 17 = Select any `img` element that doesn't have a `alt` attribute, name=Attribute selector */
img:not([alt]) {
  border: 5px solid red;
}


/* 18 = Select any `p` element that doesn't have any contents, name=Element selectore */
p:not([contents]) {
  display: none;
}


/* 19 = Select the root of the document or fragment,name =Pseudo class selector*/
:root {
  --base_unit: 1rem;
}
