section:nth-of-type(3) .container{
  width: 200px;
  height: 200px;
  border: gray 1px solid;
  position: relative;
}



section:nth-of-type(3) .container .rect{
  top:-10rem;
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  left: 3rem;
}

section:nth-of-type(3) .container .pipe{

  top:-16.7rem;
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  left: 3rem;
}

section:nth-of-type(3) .container .bar{
  top:-23.5rem;
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  left: 3rem;

}
