section:first-of-type div.example:nth-of-type(2) .circle {
  width: 100px;
  height: 100px;
  background-color: rgba(26, 26, 231, 0.897);
  border-radius: 50%;

}


section:first-of-type div.example:nth-of-type(2) .bar{
 width: 100px;
 height: 20px;
}

section:first-of-type div.example:nth-of-type(2) .pipe{
  width: 20px;
  height: 100px;
}
